.bh0:hover{color:#77CFC9 !important}
.bh1:hover{color:#77CFC9 !important}
.bh2:hover{color:#77CFC9 !important}
.bh3:hover{color:#77CFC9 !important}
.bh4:hover{background:#FFFFFF !important}
.bh5:hover{background:#77CFC9 !important;color:#002E2B !important}
.bh6:hover{background:#0d4a45 !important}
.bh7:hover{transform:translateY(-2px) !important;background:#8fdbd5 !important}
.bh8:hover{background:rgba(255,255,255,0.16) !important}
.bh9:hover{background:rgba(0,20,18,0.7) !important;color:#FFFFFF !important}
.bh10:hover{background:rgba(0,20,18,0.7) !important;color:#FFFFFF !important}
.bh11:hover{background:#002E2B !important;color:#77CFC9 !important}
.bh12:hover{background:#002E2B !important;color:#77CFC9 !important}
.bh13:hover{background:#0d4a45 !important}
.bh14:hover{background:#002E2B !important;color:#77CFC9 !important}
.bh15:hover{background:#002E2B !important;color:#77CFC9 !important}
.bh16:hover{background:#FFFFFF !important;color:#002E2B !important}
.bh17:hover{opacity:0.88 !important}
.bh18:hover{background:#FFFFFF !important;color:#002E2B !important}
.bh19:hover{background:rgba(255,255,255,0.12) !important;color:#FFFFFF !important}
.bh20:hover{opacity:0.9 !important}
.bh21:hover{background:#FFFFFF !important;color:#002E2B !important}
.bh22:hover{color:#77CFC9 !important}
.bh23:hover{color:#77CFC9 !important}
.bh24:hover{color:#77CFC9 !important}
.bh25:hover{color:#77CFC9 !important}
.bh26:hover{color:#77CFC9 !important}
.bh27:hover{color:#77CFC9 !important}
.bh28:hover{color:#77CFC9 !important}
.bh29:hover{color:#77CFC9 !important}
.bh30:hover{background:rgba(119,207,201,0.15) !important;color:#FFFFFF !important}
.bh31:hover{background:rgba(119,207,201,0.15) !important;color:#FFFFFF !important}
.bh32:hover{background:rgba(119,207,201,0.15) !important;color:#FFFFFF !important}
